<div class="nav navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">
                <img src="" alt="Reservasi Hotel">
            </a>
        </div>
    </div>
</div>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered">
                <tr>
                    <th>
                        Customer Reservation
                    </th>
                </tr>
                <tr *ngFor="let o of roomList">
                    <td>
                        {{o.name}} | available : {{o.stockroom}} | Duration : {{o.duration}} night
                        <div class="pull-right">
                            <button class="btn btn-primary" (click)="removeOrder(o.productId)">Cancel</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4" *ngFor="let p of roomList">
                    <div class="thumbnail">
                        <img src="{{p.img}}" alt="product" style="height: 170px; width: 350px">
                        <div class="caption">
                            <h5>Rp. {{p.price}} /day</h5>
                            <h5>{{p.name}}</h5>
                            <p>{{p.desc}}</p>
                            <button class="btn btn-primary" (click)="book(p.id)">Booking</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>